{% extends 'base.html' %}

{% block content %}
  {% for item in cart %}
            <div class="cart_item">
                <div class="cart_listing">
                    <span class="title">{{ item.recipe.title }}</span> by {{ item.recipe.author }}
                </div>
                <div class="cart_price">
                   
                    <a href="{% url 'remove_from_cart' item.recipe.id %}">[-]</a>
                  
                </div>
            </div>
       
           
        {% endfor %}

<div class="cart_total">
             <h4> Total: $<span class="cart_value">{{ total }}</span></h4>
{% if cart %}
                 
    <div><a href="{% url 'checkout' 'paypal' %}"><img src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif"></a></div>

            
             {% endif %}

{% endblock content %}
